<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>описание</h1>
    <p>Мандарин (Cītrus reticulāta) — цитрусовый кустарник для выращивания в комнатных условиях. Мякоть сладкая, желто-оранжевая. Листья темно-зеленые, цветки матово-белые, с сильным ароматом, плоды 4-6 см в диаметре, кожура тонкая, неплотно прирастающая к мякоти. Плоды созревают в ноябре-декабре.</p>
    <p>Цена: 120р за 1кг</p>
<a href="{% url 'product' %}">назад</a>
</body>
</html>